@charset "UTF-8";
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-Regular/fonts/HindSiliguri-Regular.eot");
  src: local("☺"), url("../fonts/HindSiliguri-Regular/fonts/HindSiliguri-Regular.woff") format("woff"), url("../fonts/HindSiliguri-Regular/fonts/HindSiliguri-Regular.ttf") format("truetype"), url("../fonts/HindSiliguri-Regular/fonts/HindSiliguri-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-Bold/fonts/HindSiliguri-Bold.eot");
  src: local("☺"), url("../fonts/HindSiliguri-Bold/fonts/HindSiliguri-Bold.woff") format("woff"), url("../fonts/HindSiliguri-Bold/fonts/HindSiliguri-Bold.ttf") format("truetype"), url("../fonts/HindSiliguri-Bold/fonts/HindSiliguri-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-Light/fonts/HindSiliguri-Light.eot");
  src: local("☺"), url("../fonts/HindSiliguri-Light/fonts/HindSiliguri-Light.woff") format("woff"), url("../fonts/HindSiliguri-Light/fonts/HindSiliguri-Light.ttf") format("truetype"), url("../fonts/HindSiliguri-Light/fonts/HindSiliguri-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-Medium/fonts/HindSiliguri-Medium.eot");
  src: local("☺"), url("../fonts/HindSiliguri-Medium/fonts/HindSiliguri-Medium.woff") format("woff"), url("../fonts/HindSiliguri-Medium/fonts/HindSiliguri-Medium.ttf") format("truetype"), url("../fonts/HindSiliguri-Medium/fonts/HindSiliguri-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-SemiBold/fonts/HindSiliguri-SemiBold.eot");
  src: local("☺"), url("../fonts/HindSiliguri-SemiBold/fonts/HindSiliguri-SemiBold.woff") format("woff"), url("../fonts/HindSiliguri-SemiBold/fonts/HindSiliguri-SemiBold.ttf") format("truetype"), url("../fonts/HindSiliguri-SemiBold/fonts/HindSiliguri-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
/* Headers */
.h1, h1 {
  color: #4D4949;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 45px; }

h2 {
  color: #4D4949;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 39px; }

h3 {
  color: #4D4949;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 32px; }

h4 {
  color: #4D4949;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 28px; }

h5 {
  color: #4D4949;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px; }

/* Zeroing */
body {
  font-family: "HindSiliguri";
  margin: 0;
  line-height: 1.6; }

*,
*:after,
*:before {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

/* Link */
a {
  text-decoration: none; }

/* Dots */
.dot {
  margin: 0 10px; }
  .dot::after {
    content: ".";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    color: #818181; }

/* Buttons */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid #4D4949;
  border-radius: 5px; }

.button__readMore {
  width: 121px;
  height: 45px;
  background-color: #4D4949;
  margin: 60px auto 80px; }
  .button__readMore a {
    color: #ffffff; }
    .button__readMore a:hover {
      color: #ffffff;
      text-decoration: none; }
  .button__readMore:hover {
    background-color: #393737; }

/* Active */
.active {
  font-weight: 600;
  text-decoration: underline; }

/* Header */
.header {
  /* Navigation */ }
  .header .nav__icon {
    padding-left: 0;
    padding-right: 0;
    font-size: 17px;
    line-height: 28px;
    font-weight: 700; }
    .header .nav__icon .nav__text {
      cursor: pointer; }
  .header .nav .nav-links {
    list-style-type: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px; }
    .header .nav .nav-links .nav__link {
      padding-left: 0;
      padding-right: 0;
      color: #4D4949;
      padding-right: 20px;
      padding-left: 20px; }
      .header .nav .nav-links .nav__link:hover {
        font-weight: 600;
        text-decoration: underline; }

.main {
  /* Section */ }
  .main .section {
    margin-top: 45px; }
    .main .section .section__header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 60px; }
      .main .section .section__header .section__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 39px;
        min-width: 416px; }
      .main .section .section__header .section__title-string {
        box-sizing: border-box;
        height: 8px;
        width: 48px;
        border: 2px solid #4D4949;
        margin: 0 auto;
        border-top: none; }
      .main .section .section__header .section__subtitle {
        width: 442px;
        font-size: 15px;
        line-height: 26px;
        font-weight: 400; }
    .main .section .blog .blog__item__type-2:hover {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.424); }
    .main .section .blog .blog__item__type-2 .blog__body__type-2 {
      width: 1160px;
      height: 379px;
      padding-top: 27px;
      padding-left: 40px; }
      .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__author-info {
        display: flex;
        margin-bottom: 40px; }
        .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__author-info .blog__author-photo {
          width: 54px;
          height: 54px; }
        .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__author-info .blog__author-info__head {
          padding-left: 15px;
          width: 358px;
          display: flex;
          flex-direction: column; }
          .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__author-info .blog__author-info__head .blog__post-info {
            display: flex; }
            .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__author-info .blog__author-info__head .blog__post-info .blog__post-comment span {
              font-size: 14px; }
      .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__content .blog__title {
        margin-bottom: 15px;
        height: 26px;
        width: 360px;
        color: #4D4949;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 26px; }
      .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__content .blog__text {
        width: 1033px;
        height: 104px;
        color: #4D4949;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 26px;
        font-weight: 400;
        margin-bottom: 30px; }
      .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__content .blog__readmore {
        width: 121px;
        height: 45px; }
        .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__content .blog__readmore a {
          color: #4D4949;
          text-decoration: none; }
        .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__content .blog__readmore:hover {
          background-color: #393737; }
          .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__content .blog__readmore:hover a {
            color: #ffffff; }
      .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__type {
        position: relative;
        width: 40px;
        height: 40px;
        top: -335px;
        left: 1020px;
        margin: 18px 22px; }
    .main .section .blog .blog__item {
      position: relative;
      width: 1160px;
      height: 379px;
      margin-bottom: 50px; }
      .main .section .blog .blog__item:hover {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.424); }
      .main .section .blog .blog__item .blog__img .icon-play {
        position: absolute;
        z-index: 1;
        left: 244px;
        top: 153px; }
        .main .section .blog .blog__item .blog__img .icon-play:hover {
          cursor: pointer; }
      .main .section .blog .blog__item .blog__body {
        padding-top: 27px;
        padding-left: 40px;
        width: 600px;
        position: absolute;
        left: 550px; }
        .main .section .blog .blog__item .blog__body .blog__author-info {
          display: flex;
          margin-bottom: 40px; }
          .main .section .blog .blog__item .blog__body .blog__author-info .blog__author-photo {
            width: 54px;
            height: 54px; }
          .main .section .blog .blog__item .blog__body .blog__author-info .blog__author-info__head {
            padding-left: 15px;
            width: 358px;
            display: flex;
            flex-direction: column; }
            .main .section .blog .blog__item .blog__body .blog__author-info .blog__author-info__head .blog__post-info {
              display: flex; }
              .main .section .blog .blog__item .blog__body .blog__author-info .blog__author-info__head .blog__post-info .blog__post-comment span {
                font-size: 14px; }
        .main .section .blog .blog__item .blog__body .blog__content .blog__title {
          margin-bottom: 15px;
          height: 26px;
          width: 360px;
          color: #4D4949;
          font-size: 19px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 26px; }
        .main .section .blog .blog__item .blog__body .blog__content .blog__text {
          width: 460px;
          color: #4D4949;
          font-size: 15px;
          letter-spacing: 0;
          line-height: 26px;
          font-weight: 400;
          margin-bottom: 30px; }
        .main .section .blog .blog__item .blog__body .blog__content .blog__readmore {
          width: 121px;
          height: 45px; }
          .main .section .blog .blog__item .blog__body .blog__content .blog__readmore a {
            color: #4D4949;
            text-decoration: none; }
          .main .section .blog .blog__item .blog__body .blog__content .blog__readmore:hover {
            background-color: #393737; }
            .main .section .blog .blog__item .blog__body .blog__content .blog__readmore:hover a {
              color: #ffffff; }
        .main .section .blog .blog__item .blog__body .blog__type {
          position: relative;
          width: 40px;
          height: 40px;
          top: -345px;
          right: -477px;
          margin: 18px 22px; }

.blog__post-stars {
  padding-left: 10px; }
  .blog__post-stars .star {
    margin-left: 3px; }

/* Footer */
.footer {
  height: 71px; }
  .footer .footer-icon {
    height: 28px;
    width: 83px;
    color: #4D4949;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 28px; }
  .footer .container {
    min-width: 1440px; }
  .footer .rights {
    color: #333333;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px; }
  .footer .row {
    margin: 0 auto; }
  .footer .footer__social-network {
    top: 0;
    right: 40px; }

.social-network {
  position: relative;
  top: 30px; }
  .social-network .social-network__item {
    margin-right: 25px; }
    .social-network .social-network__item:last-child {
      margin-right: 0; }

.search-block {
  justify-content: flex-end; }
  .search-block img {
    position: relative;
    bottom: 15px;
    right: 35px; }
  .search-block .search {
    box-sizing: border-box;
    height: 45px;
    width: 320px;
    border: 1px solid #4D4949;
    border-radius: 5px;
    margin-bottom: 30px; }

@media (max-width: 1200px) {
  .main .section .blog .blog__item {
    width: 960px;
    height: 314px; }
    .main .section .blog .blog__item .blog__img {
      height: 314px; }
      .main .section .blog .blog__item .blog__img .blog__photo {
        width: 464px; }
      .main .section .blog .blog__item .blog__img .icon-play {
        top: 121px;
        left: 196px; }
    .main .section .blog .blog__item .blog__body {
      width: 496px;
      position: unset; }
      .main .section .blog .blog__item .blog__body .blog__type {
        right: -375px;
        top: -300px; }
      .main .section .blog .blog__item .blog__body .blog__content .blog__title {
        margin-bottom: 0; }
      .main .section .blog .blog__item .blog__body .blog__content .blog__text {
        margin-bottom: 0; }
  .main .section .blog .blog__item__type-2 .blog__body__type-2 {
    max-width: 960px; }
    .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__type {
      left: 842px; }
    .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__content .blog__text {
      width: 880px; } }
@media (max-width: 992px) {
  .main .section .blog .blog__item {
    margin: 0 auto 50px;
    width: 464px;
    height: 630px;
    flex-direction: column; }
    .main .section .blog .blog__item .blog__img {
      height: 314px; }
      .main .section .blog .blog__item .blog__img .blog__photo {
        width: 464px; }
      .main .section .blog .blog__item .blog__img .icon-play {
        top: 121px;
        left: 196px; }
    .main .section .blog .blog__item .blog__body {
      padding-left: 15px;
      width: 464px;
      height: 312px;
      position: unset; }
      .main .section .blog .blog__item .blog__body .blog__type {
        right: -375px;
        top: -300px; }
      .main .section .blog .blog__item .blog__body .blog__content .blog__title {
        margin-bottom: 0; }
      .main .section .blog .blog__item .blog__body .blog__content .blog__text {
        margin-bottom: 0;
        margin-right: 0;
        width: 400px;
        font-size: 14px; }
  .main .section .blog .blog__item__type-2 .blog__body__type-2 {
    max-width: 960px; }
    .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__author-info {
      width: 450px;
      padding-left: 27px; }
    .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__type {
      left: 602px; }
    .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__content .blog__text {
      width: 664px;
      font-size: 14px; }

  .search-block {
    justify-content: center; } }
@media (max-width: 768px) {
  .header .nav {
    flex-direction: column;
    align-items: center; }
    .header .nav .nav-links {
      flex-direction: column;
      align-items: center; }
  .header .nav__icon {
    margin: 0 auto; }

  .main .section .blog .blog__item__type-2 .blog__body__type-2 {
    max-width: 540px;
    height: 460px;
    padding-left: 27px; }
    .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__type {
      left: 433px;
      top: -433px; }
    .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__content .blog__text {
      width: 440px;
      height: 200px;
      font-size: 14px; } }
@media (max-width: 576px) {
  .main .section .blog .blog__item {
    margin: 0 auto 50px;
    width: 325px;
    height: 650px;
    flex-direction: column; }
    .main .section .blog .blog__item .blog__img {
      height: 220px; }
      .main .section .blog .blog__item .blog__img .blog__photo {
        width: 325px; }
      .main .section .blog .blog__item .blog__img .icon-play {
        top: 74px;
        left: 126.5px; }
    .main .section .blog .blog__item .blog__body {
      width: 325px;
      height: 220px;
      position: unset; }
      .main .section .blog .blog__item .blog__body .blog__type {
        right: -232px;
        top: -340px; }
      .main .section .blog .blog__item .blog__body .blog__author-info {
        flex-direction: column; }
        .main .section .blog .blog__item .blog__body .blog__author-info .blog__author-photo {
          margin: 0 auto; }
        .main .section .blog .blog__item .blog__body .blog__author-info .blog__author-info__head {
          padding-left: 0; }
          .main .section .blog .blog__item .blog__body .blog__author-info .blog__author-info__head .blog__author-name {
            text-align: center;
            width: 300px; }
          .main .section .blog .blog__item .blog__body .blog__author-info .blog__author-info__head .blog__post-info {
            width: 325px;
            font-size: 14px; }
      .main .section .blog .blog__item .blog__body .blog__content .blog__title {
        margin-bottom: 0;
        font-size: 15px;
        width: 300px;
        text-align: center; }
      .main .section .blog .blog__item .blog__body .blog__content .blog__text {
        margin-bottom: 0;
        margin-right: 0;
        width: 300px;
        text-align: center;
        font-size: 12px; }
      .main .section .blog .blog__item .blog__body .blog__content .blog__readmore {
        margin: 0 auto; }
  .main .section .blog .blog__item__type-2 {
    width: 325px;
    height: 550px;
    margin: 0 auto; }
    .main .section .blog .blog__item__type-2 .blog__body__type-2 {
      max-width: 300px;
      padding: 0; }
      .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__author-info {
        width: 300px;
        flex-direction: column;
        padding: 0; }
        .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__author-info .blog__author-photo {
          margin: 0 auto; }
        .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__author-info .blog__author-info__head .blog__author-name {
          width: 270px;
          text-align: center; }
        .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__author-info .blog__author-info__head .blog__post-info {
          font-size: 14px; }
      .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__type {
        left: 240px;
        top: -510px; }
      .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__content .blog__title {
        font-size: 15px;
        width: 300px;
        text-align: center; }
      .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__content .blog__text {
        width: 300px;
        text-align: center;
        height: 250px;
        font-size: 12px; }
      .main .section .blog .blog__item__type-2 .blog__body__type-2 .blog__content .blog__readmore {
        margin: 0 auto; }

  .footer .footer-block {
    flex-direction: column; }
  .footer .footer__social-network {
    right: unset; } }

/*# sourceMappingURL=blog.css.map */
