@charset "UTF-8";
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-Regular/fonts/HindSiliguri-Regular.eot");
  src: local("☺"), url("../fonts/HindSiliguri-Regular/fonts/HindSiliguri-Regular.woff") format("woff"), url("../fonts/HindSiliguri-Regular/fonts/HindSiliguri-Regular.ttf") format("truetype"), url("../fonts/HindSiliguri-Regular/fonts/HindSiliguri-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-Bold/fonts/HindSiliguri-Bold.eot");
  src: local("☺"), url("../fonts/HindSiliguri-Bold/fonts/HindSiliguri-Bold.woff") format("woff"), url("../fonts/HindSiliguri-Bold/fonts/HindSiliguri-Bold.ttf") format("truetype"), url("../fonts/HindSiliguri-Bold/fonts/HindSiliguri-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-Light/fonts/HindSiliguri-Light.eot");
  src: local("☺"), url("../fonts/HindSiliguri-Light/fonts/HindSiliguri-Light.woff") format("woff"), url("../fonts/HindSiliguri-Light/fonts/HindSiliguri-Light.ttf") format("truetype"), url("../fonts/HindSiliguri-Light/fonts/HindSiliguri-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-Medium/fonts/HindSiliguri-Medium.eot");
  src: local("☺"), url("../fonts/HindSiliguri-Medium/fonts/HindSiliguri-Medium.woff") format("woff"), url("../fonts/HindSiliguri-Medium/fonts/HindSiliguri-Medium.ttf") format("truetype"), url("../fonts/HindSiliguri-Medium/fonts/HindSiliguri-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-SemiBold/fonts/HindSiliguri-SemiBold.eot");
  src: local("☺"), url("../fonts/HindSiliguri-SemiBold/fonts/HindSiliguri-SemiBold.woff") format("woff"), url("../fonts/HindSiliguri-SemiBold/fonts/HindSiliguri-SemiBold.ttf") format("truetype"), url("../fonts/HindSiliguri-SemiBold/fonts/HindSiliguri-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
/* Zeroing */
body {
  font-family: "HindSiliguri";
  line-height: 1.6;
  display: flex;
  flex-direction: column; }

*,
*:after,
*:before {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

/* Container */
.container {
  margin: 0 auto;
  max-width: 1400px; }

/* Section */
.section .section_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 60px; }
  .section .section_header .section_title {
    font-weight: 600;
    font-size: 64px;
    line-height: 39px;
    min-width: 416px; }

/* Form */
.form_block .form .fieldset {
  width: 500px;
  max-width: 500px;
  border: none;
  margin: 0 auto; }
  .form_block .form .fieldset .form_item {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .form_block .form .fieldset .form_item .form_textarea {
      height: 200px;
      font-size: 20px;
      resize: none;
      overflow: hidden;
      border-radius: 5px;
      border: 1px solid black; }
      .form_block .form .fieldset .form_item .form_textarea:focus {
        border: 3px solid black; }
    .form_block .form .fieldset .form_item:first-child {
      margin-top: 0; }
    .form_block .form .fieldset .form_item .form_input[type=file] {
      outline: 0;
      opacity: 0;
      pointer-events: none;
      user-select: none; }
    .form_block .form .fieldset .form_item label {
      display: block;
      text-align: center;
      font-size: 25px;
      font-weight: 600; }
    .form_block .form .fieldset .form_item .form_input {
      margin: 0 auto;
      font-size: 25px;
      box-sizing: border-box;
      height: 45px;
      width: 320px;
      border: 1px solid #DCDCDC;
      border-radius: 5px; }
    .form_block .form .fieldset .form_item option {
      font-size: 25px;
      text-align: center; }

/* Buttons */
.submit_button {
  margin: 0 auto;
  color: white;
  height: 45px;
  width: 144px;
  border-radius: 5px;
  background-color: #4D4949;
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  width: 100px;
  cursor: pointer; }
  .submit_button:hover {
    background-color: #393737; }

/*# sourceMappingURL=form-style.css.map */
