@charset "UTF-8";
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-Regular/fonts/HindSiliguri-Regular.eot");
  src: local("☺"), url("../fonts/HindSiliguri-Regular/fonts/HindSiliguri-Regular.woff") format("woff"), url("../fonts/HindSiliguri-Regular/fonts/HindSiliguri-Regular.ttf") format("truetype"), url("../fonts/HindSiliguri-Regular/fonts/HindSiliguri-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-Bold/fonts/HindSiliguri-Bold.eot");
  src: local("☺"), url("../fonts/HindSiliguri-Bold/fonts/HindSiliguri-Bold.woff") format("woff"), url("../fonts/HindSiliguri-Bold/fonts/HindSiliguri-Bold.ttf") format("truetype"), url("../fonts/HindSiliguri-Bold/fonts/HindSiliguri-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-Light/fonts/HindSiliguri-Light.eot");
  src: local("☺"), url("../fonts/HindSiliguri-Light/fonts/HindSiliguri-Light.woff") format("woff"), url("../fonts/HindSiliguri-Light/fonts/HindSiliguri-Light.ttf") format("truetype"), url("../fonts/HindSiliguri-Light/fonts/HindSiliguri-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-Medium/fonts/HindSiliguri-Medium.eot");
  src: local("☺"), url("../fonts/HindSiliguri-Medium/fonts/HindSiliguri-Medium.woff") format("woff"), url("../fonts/HindSiliguri-Medium/fonts/HindSiliguri-Medium.ttf") format("truetype"), url("../fonts/HindSiliguri-Medium/fonts/HindSiliguri-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'HindSiliguri';
  src: url("../fonts/HindSiliguri-SemiBold/fonts/HindSiliguri-SemiBold.eot");
  src: local("☺"), url("../fonts/HindSiliguri-SemiBold/fonts/HindSiliguri-SemiBold.woff") format("woff"), url("../fonts/HindSiliguri-SemiBold/fonts/HindSiliguri-SemiBold.ttf") format("truetype"), url("../fonts/HindSiliguri-SemiBold/fonts/HindSiliguri-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
/* Headers */
.h1, h1 {
  color: #4D4949;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 45px; }

h2 {
  color: #4D4949;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 39px; }

h3 {
  color: #4D4949;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 32px; }

h4 {
  color: #4D4949;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 28px; }

h5 {
  color: #4D4949;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px; }

/* Zeroing */
body {
  font-family: "HindSiliguri";
  margin: 0;
  line-height: 1.6; }

*,
*:after,
*:before {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

/* Buttons */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid #4D4949;
  border-radius: 5px; }

.button__readMore {
  width: 125px;
  height: 45px;
  margin-top: 30px; }
  .button__readMore:hover {
    background-color: #393737; }
    .button__readMore:hover a {
      font-weight: 400;
      text-decoration: none;
      color: #ffffff; }
  .button__readMore a {
    color: #4D4949;
    text-decoration: none; }

/* Link */
a {
  text-decoration: none; }
  a:hover {
    font-weight: 600;
    text-decoration: underline; }

/* Dots */
.dot {
  margin: 0 10px; }
  .dot::after {
    content: ".";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    color: #818181; }

/* Active */
.active {
  font-weight: 600;
  text-decoration: underline; }

.header {
  margin-bottom: 45px;
  /* Navigation */ }
  .header .nav__icon {
    padding-left: 0;
    padding-right: 0;
    font-size: 17px;
    line-height: 28px;
    font-weight: 700; }
    .header .nav__icon .nav__text {
      cursor: pointer; }
  .header .nav .nav-links {
    list-style-type: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px; }
    .header .nav .nav-links .nav__link {
      padding-left: 0;
      padding-right: 0;
      color: #4D4949;
      padding-right: 20px;
      padding-left: 20px; }
      .header .nav .nav-links .nav__link:hover {
        font-weight: 600; }

/* Main */
.main {
  /* Section */ }
  .main .section {
    margin-bottom: 80px;
    /* Post */
    /* SideBar */ }
    .main .section .post {
      width: 660px; }
      .main .section .post .post__header .post__author-info {
        margin-top: 25px;
        margin-bottom: 20px; }
      .main .section .post .post__header .post__author-info__head {
        margin-left: 15px; }
        .main .section .post .post__header .post__author-info__head .post__author-name {
          color: #4D4949;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 28px; }
        .main .section .post .post__header .post__author-info__head .post__post-info {
          color: #818181;
          font-weight: 400;
          font-size: 15px;
          letter-spacing: 0;
          line-height: 25px; }
      .main .section .post .post__body .post__img {
        margin-bottom: 15px; }
        .main .section .post .post__body .post__img img {
          max-width: 661px; }
      .main .section .post .post__body .post__text p {
        font-size: 17px;
        margin-bottom: 20px; }
      .main .section .post .post__body .post__text .comment {
        display: flex;
        justify-content: space-between;
        height: 120px;
        margin-bottom: 35px; }
        .main .section .post .post__body .post__text .comment .comment__rectangle {
          position: absolute;
          z-index: -1;
          height: 120px;
          width: 5px;
          background-color: #E6E6E6; }
        .main .section .post .post__body .post__text .comment p {
          align-self: center;
          margin-left: 26px;
          width: 500px;
          margin-bottom: 0; }
      .main .section .post .post__body .post__text__title {
        margin-bottom: 10px; }
      .main .section .post .post__footer {
        margin-top: 50px;
        overflow: auto; }
        .main .section .post .post__footer .likes .like__active__title {
          cursor: pointer; }
        .main .section .post .post__footer .likes .like__activate:checked ~ .likes-active {
          display: inline; }
        .main .section .post .post__footer .likes .like__activate:checked ~ .like__active__title {
          display: none; }
        .main .section .post .post__footer .likes span {
          margin-left: 10px; }
        .main .section .post .post__footer .likes .likes-active {
          display: none; }
        .main .section .post .post__footer .likes .like-disabled {
          display: none; }
        .main .section .post .post__footer .likes .like__activate {
          width: 0;
          height: 0; }
        .main .section .post .post__footer .hr {
          height: 1px;
          width: 660px;
          background-color: #DDDDDD;
          margin-top: 10px; }
      .main .section .post .reviews .reviews__title {
        margin-top: 35px;
        margin-bottom: 63px; }
      .main .section .post .reviews .comments {
        position: relative;
        height: 800px;
        margin-bottom: 60px; }
        .main .section .post .reviews .comments .comments__oval__2 {
          position: absolute;
          bottom: 0;
          left: 32px;
          box-sizing: border-box;
          height: 16px;
          width: 16px;
          border-radius: 10px;
          border: 2px solid #DDDDDD;
          background-color: #FFFFFF; }
        .main .section .post .reviews .comments .comments__oval {
          position: absolute;
          top: -58px;
          left: 32px;
          box-sizing: border-box;
          height: 16px;
          width: 16px;
          border-radius: 10px;
          border: 2px solid #DDDDDD;
          background-color: #FFFFFF; }
        .main .section .post .reviews .comments .comments__rectangle {
          position: absolute;
          z-index: -1;
          left: 39px;
          top: -43px;
          box-sizing: border-box;
          height: 830px;
          width: 2px;
          border: 1px solid #DDDDDD;
          background-color: #FFFFFF; }
        .main .section .post .reviews .comments .comments__item {
          margin-bottom: 100px; }
          .main .section .post .reviews .comments .comments__item .comments__content .comments__content__head .author__name h4 {
            font-weight: 500; }
          .main .section .post .reviews .comments .comments__item .comments__content .comments__content__head .released__time {
            margin-left: 220px; }
            .main .section .post .reviews .comments .comments__item .comments__content .comments__content__head .released__time img {
              height: 14px;
              width: 14px;
              margin: 4px; }
          .main .section .post .reviews .comments .comments__item .comments__content .comments__content__body {
            width: 511px;
            font-size: 15px;
            margin-top: 10px; }
          .main .section .post .reviews .comments .comments__item .comments__content .readMore {
            justify-content: flex-end;
            font-weight: 500;
            text-decoration: underline;
            font-size: 15px; }
            .main .section .post .reviews .comments .comments__item .comments__content .readMore:hover a {
              font-weight: 500;
              text-decoration: underline;
              font-size: 15px; }
    .main .section .aside {
      width: 440px;
      margin: 150px auto 0; }
      .main .section .aside .aside__item {
        margin-bottom: 70px; }
      .main .section .aside .block {
        margin: 30px; }
      .main .section .aside .latest-posts .latest-posts__block .latest-posts__body {
        margin-top: 30px;
        width: 400px; }
        .main .section .aside .latest-posts .latest-posts__block .latest-posts__body .latest-posts__content {
          margin-left: 15px; }
          .main .section .aside .latest-posts .latest-posts__block .latest-posts__body .latest-posts__content .latest-posts__photo {
            width: 160px;
            height: 150px; }
          .main .section .aside .latest-posts .latest-posts__block .latest-posts__body .latest-posts__content .lates-posts__title {
            width: 210px;
            margin-bottom: 20px; }
        .main .section .aside .latest-posts .latest-posts__block .latest-posts__body .latest-posts__info {
          font-size: 14px; }
      .main .section .aside .accordion__body {
        display: none;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 25px; }
      .main .section .aside .accordion__item {
        position: relative;
        margin-top: 20px; }
      .main .section .aside .checkbox-title {
        position: absolute;
        cursor: pointer;
        width: 18px;
        height: 11px;
        top: 5px;
        left: 365px;
        font-size: 17px;
        letter-spacing: 0;
        line-height: 28px; }
      .main .section .aside .checkbox-input {
        width: 0;
        height: 0;
        -webkit-appearance: none;
        appearance: none;
        position: absolute; }
        .main .section .aside .checkbox-input:checked ~ .accordion__body {
          display: block; }
        .main .section .aside .checkbox-input:checked ~ .checkbox-title {
          transform: translateY(100%) rotate(180deg); }
      .main .section .aside .tags__body {
        margin-top: 30px; }
      .main .section .aside .tags__row {
        min-width: 420px; }
      .main .section .aside .tags__button {
        font-size: 15px;
        padding: 5px 15px;
        margin-right: 15px;
        margin-bottom: 15px; }
        .main .section .aside .tags__button:hover {
          background-color: #4D4949; }
          .main .section .aside .tags__button:hover a {
            text-decoration: none;
            color: #ffffff;
            font-weight: 400; }

/* Stars */
.blog__post-stars {
  padding-left: 10px; }
  .blog__post-stars .star {
    margin-left: 3px; }

/* Styles */
.bold {
  font-weight: 700; }
  .bold:hover {
    cursor: pointer;
    text-decoration: underline; }

.strike {
  text-decoration: line-through; }

/* Social Network */
.social-network .social-network__item {
  margin-right: 25px; }
  .social-network .social-network__item:last-child {
    margin-right: 0; }

.hr {
  height: 1px;
  background-color: #DDDDDD;
  margin-top: 4px; }

/* Footer */
.footer {
  height: 71px; }
  .footer .footer-icon {
    height: 28px;
    width: 83px;
    color: #4D4949;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 28px; }
  .footer .container {
    min-width: 1440px; }
  .footer .rights {
    color: #333333;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px; }
  .footer .row {
    margin: 0 auto; }
  .footer .footer__social-network {
    top: 0;
    right: 40px; }

@media (max-width: 1200px) {
  .main .section .post {
    width: 540px; }
    .main .section .post .post__header {
      width: 540px; }
    .main .section .post .post__body {
      width: 540px; }
      .main .section .post .post__body .post__img img {
        width: 540px; }
    .main .section .post .post__footer {
      width: 540px; }
    .main .section .post .reviews .comments .comments__item {
      margin-bottom: 50px; }
      .main .section .post .reviews .comments .comments__item .comments__photo img {
        width: 74px; }
      .main .section .post .reviews .comments .comments__item .comments__content {
        width: 420px; }
        .main .section .post .reviews .comments .comments__item .comments__content .comments__content__head .released__time {
          margin-left: 0; }
        .main .section .post .reviews .comments .comments__item .comments__content .comments__content__body {
          width: 420px;
          font-size: 16px; }
  .main .section .aside {
    width: 360px; }
    .main .section .aside .checkbox-title {
      left: 265px; } }
@media (max-width: 992px) {
  .main .section .post {
    margin: 0 auto;
    width: 540px; }
    .main .section .post .post__header {
      width: 540px; }
    .main .section .post .post__body {
      width: 540px; }
      .main .section .post .post__body .post__img img {
        width: 540px; }
    .main .section .post .post__footer {
      width: 540px; }
    .main .section .post .reviews .comments .comments__item {
      margin-left: 10px; }
      .main .section .post .reviews .comments .comments__item .comments__photo img {
        width: 54px; }
      .main .section .post .reviews .comments .comments__item .comments__content {
        width: 420px; }
        .main .section .post .reviews .comments .comments__item .comments__content .comments__content__head .released__time {
          margin-left: 0; }
        .main .section .post .reviews .comments .comments__item .comments__content .comments__content__body {
          width: 420px;
          font-size: 16px; } }
@media (max-width: 768px) {
  .header .nav {
    flex-direction: column;
    align-items: center; }
    .header .nav .nav-links {
      flex-direction: column;
      align-items: center; }
  .header .nav__icon {
    margin: 0 auto; }

  .main .section .post {
    width: 396px; }
    .main .section .post .post__header {
      width: 396px; }
    .main .section .post .post__body {
      width: 396px; }
      .main .section .post .post__body .post__img img {
        width: 396px; }
    .main .section .post .post__foter {
      width: 396px; }
    .main .section .post .reviews .comments .comments__item {
      margin-left: 10px; }
      .main .section .post .reviews .comments .comments__item .comments__photo img {
        width: 54px; }
      .main .section .post .reviews .comments .comments__item .comments__content {
        width: 330px; }
        .main .section .post .reviews .comments .comments__item .comments__content .comments__content__head .released__time {
          margin-left: 0; }
        .main .section .post .reviews .comments .comments__item .comments__content .comments__content__body {
          width: 330px;
          font-size: 16px; } }
@media (max-width: 576px) {
  h1 {
    font-size: 20px; }

  h2 {
    font-size: 18px; }

  .main .section .post {
    width: 325px; }
    .main .section .post .post__header {
      width: 325px; }
      .main .section .post .post__header .post__author-info .post__author-photo {
        margin: 0 auto; }
      .main .section .post .post__header .post__author-info__head {
        margin: 0 auto;
        text-align: center; }
        .main .section .post .post__header .post__author-info__head .post__author-name {
          font-size: 15px; }
        .main .section .post .post__header .post__author-info__head .post__post-info {
          font-size: 12px; }
    .main .section .post .post__body {
      width: 325px; }
      .main .section .post .post__body .post__text p {
        width: 325px;
        font-size: 13px; }
      .main .section .post .post__body .post__img img {
        width: 325px; }
    .main .section .post .post__foter {
      width: 325px; }
    .main .section .post .reviews .comments .comments__item {
      margin-left: 10px; }
      .main .section .post .reviews .comments .comments__item .comments__photo img {
        width: 54px; }
      .main .section .post .reviews .comments .comments__item .comments__content {
        width: 250px; }
        .main .section .post .reviews .comments .comments__item .comments__content .comments__content__head .released__time {
          margin-left: 0; }
        .main .section .post .reviews .comments .comments__item .comments__content .comments__content__body {
          width: 250px;
          font-size: 13px; }
  .main .section .aside .latest-posts .latest-posts__block .latest-posts__body {
    display: flex;
    flex-direction: column;
    width: 160px; }
    .main .section .aside .latest-posts .latest-posts__block .latest-posts__body .latest-posts__photo {
      margin: 0 auto; }
  .main .section .aside .tags__row {
    min-width: unset; }
  .main .section .aside .checkbox-title {
    position: unset; } }

/*# sourceMappingURL=post.css.map */
