@import "fonts.scss";
@import "variables";
@import "headers";
/* Zeroing */
body{
    font-family: $mainFontFamily;
	margin: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}
/* Link */

.active{
    font-weight: 600;
    text-decoration: underline;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        font-weight: 600;  
    }
}

/* Containers */
.header__container{
    background: url(../img/bg.jpg) no-repeat;
    background-size: 1440px 600px;
    background-position: center;
}
/* Sliders */

.sliders{
    margin-bottom: 40px;
    .slider{
        box-sizing: border-box;
        height: 45px;
        max-width: 45px;
        border: 1px solid #4D4949;
        border-radius: 5px;
        background-color: #FFFFFF;
        &:hover{
            cursor: pointer;
            transform: translate(0px,-5px);
            transition: transform .2s linear, box-shadow .2s linear;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.424);
        }
        &.slider__left{
            margin-right: 135px;
            a{
                top: 7px;
                right: 10px;
                transform: translateY(50%) rotate(-135deg);
            }   
        }
        &.slider__right{
            margin-left: 135px;
            a{
                top: 7px;
                right: 17px;
                transform: translateY(50%) rotate(45deg);
            }   
        }
        a {
            width: 14px;
            height: 14px;
            display: block;
            border-top: 1px solid #000000;
            border-right: 1px solid #000000;
            position: absolute;
            z-index: 1;  
        }
    }
    &.sliders__testimonials{
        position: relative;
        bottom: 65px;
        .slider__right__testimonials{
            left: 185px;
            bottom: 60px;
        }
        .slider__left__testimonials{
            left: -185px;
            bottom: 60px;
        }
    }
}

/* Buttons */

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid $MainColor;
    border-radius: 5px;
    &:hover{
        a{
            font-weight: 400;  
        }
    }
}

 /* Header */
.header{
    height: 600px;
    /* Navigation */
    .nav__icon{
        padding-left: 0;
        padding-right: 0;
        font-size: 17px;
        line-height: 28px;
        font-weight: 700;
        .nav__text{
            cursor: pointer;
            &:hover{

            }
        }
    }
    .nav{
        .nav-links{
            list-style-type: none;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            .nav__link{
                padding-right: 20px;
                padding-left: 20px;
                color: $MainColor;
            }
        }
    }
    /* Header Inner */
    .header__inner{
        flex-direction: column;
        margin-top: 100px;
        .header__title{
            margin-bottom: 22px;
            p{
                height: 74px;
                color: $MainColor;
                font-size: 28px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 37px;
            }
        }
    }
    .header__text{
        p{
            margin-bottom: 22px;
            color: $MainColor;
            font-size: 17px;
            letter-spacing: 0;
            line-height: 26px;
        }
    }
    .header__buttons{
        display: flex;
        .header__button__explore{
            margin-right: 25px;
            background-color: #4D4C49;
            max-width: 100px;
            height: 45px;
            text-align: center;
            &:hover{
                background-color:$hoverColor;
            }
            a{
                color: #fff;
                text-decoration: none;
                
            }
        }
        .header__button__learnMore{
            max-width: 125px;
            height: 45px;
            &:hover{
                background-color: $hoverColor;
                a{
                    color: $whiteColor;
                }
            }
            a{
                color: $MainColor;
                text-decoration: none;
            }
        }
    }
    
}
/*Main*/
.main{
    /* Section */
    .section--tesimonials{
        background: url(../img/testimonial/Bg\ testimonial.png) no-repeat;
        background-size: 1440px;
        background-position: center;
        height: 529px;
    }
    .section{
        margin-top: 80px;
        .section__header{
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 60px;
            .section__title{
                font-weight: 600;
                font-size: 24px;
                line-height: 39px;
                min-width: 416px;
            }        
            .section__title-string{
                box-sizing: border-box;
                height: 8px;
                border: 1px solid #4D4949;
                margin: 0 auto;
                border-top: none;
                &.string__about-us{
                    width: 100px;
                }
                &.string__posts{
                    width: 130px;
                }
                &.string__portfolio{
                    width: 170px;
                }
                &.string__testimonials{
                    width: 135px;
                }
                &.string__contact-us{
                    width: 116px;
                }
            }
            .section__subtitle{
                width: 442px;
                font-size: 15px;
                line-height: 26px;
                font-weight: 400;
            }
        }
        .about-us{
            .about-us__items{
                flex-direction: column;
                .about-us__item{
                    padding-left: 0;
                    padding-right: 0;
                    display: flex;
                    border-radius: 5px;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: 20px;
                    min-height: 184px;
                    min-width: 260px;
                    &:nth-child(2n){
                        &::after{
                            left: 0;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 5px;
                        }   
                    }
                    &::after{
                        content: "";
                        width: 50px;
                        height: 50px;
                        position: relative;
                        top: -128px;
                        right: -210px;
                        background-color: #ffffff;
                        border-bottom-left-radius: 5px;
                        
                    }
                }

                .about-us__item__1{
                    background-color: #FFB0B0;
                    background: linear-gradient(108.56deg,#d4d487, #bad493);
                }
                .about-us__item__2{
                    background-color: #B0D1FF;
                    background: linear-gradient(236.77deg, #8faffe, #c8dafc);
                }
                .about-us__item__3{
                    background-color: #FFB0B0;
                    background: linear-gradient(108.56deg, #ff7c7c, #ffa6a6);
                }
            }
            .about-us__video{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 40px;
                height: 592px;
                max-width: 860px;
                background: url(../img/About\ picture.png) no-repeat;
                background-size: contain;
                img{
                    cursor: pointer;
                }
            }
        }
        /*Post Block*/
        .posts{
            display: flex;
            justify-content: space-around;
            .post__item{
                margin-right: 40px;
                &:last-child{
                    margin-right: 0;
                }
                .post__ image{
                    width:360px;
                    height: 244px;
                    margin-bottom: 19.5px;
                }
                .post__content{
                    margin-top: 18px;
                    .post__title{
                        font-size: 19px;
                        font-weight: 500;
                        line-height: 32px;
                        width: 360px;
                        letter-spacing: 0;
                        a{
                            color: $MainColor;
                        }
                    }
                    .post__text{
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 400;
                        width: 360px;
                        letter-spacing: 0;
                        margin-bottom: 20px;
                    }
                    .post__footer{
                        display:flex;
                        color: $brandGrey;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 25px;
                        .dot{
                            margin: 0 10px;
                            &::after{
                                content: ".";
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 15px;
                                color: $brandGrey;
                            }
                        }
                    }
                }
            }
        }

        .cards{
            display: flex;
            margin-bottom: 40px;
            .card__item__1{
                background: url(../img/cards/bg_img1.png) no-repeat;
            }
            .card__item__2{
                background: url(../img/cards/bg_img2.png) no-repeat;
            }
            .card__item__3{
                background: url(../img/cards/bg_img\ 3.png) no-repeat;
            }
            .card__item{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                position: relative;
                margin-right: 40px;
                max-width: 360px;
                border-radius: 5px;
                &:last-child{
                    margin-right: 0;
                }
                padding-right: 0;
                padding-left: 0;
                .card__content{
                    width: 360px;
                    height: 244px;
                    border-radius: 5px;
                    .card__text{
                        height: 52px;
                        width: 230px;
                        position: absolute;
                        z-index: 1;
                        text-align: center;
                        bottom: 100px;
                        left: 65px;
                        .card__title{
                            text-transform: uppercase;
                            font-size: 20px;
                            font-weight: 700;
                            color: $whiteColor;
                            line-height: 32px;
                        }
                        .card__subtitle{
                            font-size: 15px;
                            line-height: 25px;
                            font-weight: 300;
                            color: $whiteColor;
                        }
                    }
                    .card__instruments{
                        display:flex;
                        opacity: 0;
                        align-items: center;
                        position: relative;
                        top: 184px;
                        left: 260px;
                        background-color: rgba(0,0,0,0.5);
                        width: 101px;
                        height: 60px;
                        border-radius: 5px;
                        transition: opacity .2s linear;
                        .card__attach{
                            display: flex;
                            justify-content: center;
                            width: 50px;
                        }
                        .card__search{
                            display: flex;
                            justify-content: center;
                            width: 50px;
                        }
                    }  
                }
                &:hover{
                    cursor: pointer;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.424);
                    .card__instruments{
                        opacity: 1;
                    }
                }
                
            }
        }
        .card__button{
            max-width: 136px;
            height: 45px;
            margin: 0 auto;
            &:hover{
                background-color: $hoverColor;
                a{
                    color: $whiteColor;
                }
            }
            a{
                color: $MainColor;
                text-decoration: none;
            }
        }

        .testimonials{
            position: relative;
            .testimonials__item{
                width: 560px;
                margin: 0 auto;
                height: 265px;
                top: 22px;
                left: 322px;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.424);
                .testimonials__content{
                    flex-direction: column;
                    align-items: center;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    width:280px;
                    height: 265px;
                    background-color: #494A4D;
                    .testimonials__text{
                        margin-top: 53px;
                        margin-bottom: 37px;
                        width: 192px;
                        height: 104px;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 26px;
                        color: $whiteColor;
                    }
                    .author__info{
                        display: flex;
                        align-self: flex-start;
                        flex-direction: column;
                        margin: 0 0 21px 48px;
                        .testimonials__author{
                            font-weight: 400;
                            color: $whiteColor;
                            font-size: 15px;
                            line-height: 25px;
                        }
                        .testimonials__prof{
                            font-weight: 300;
                            color: $whiteColor;
                            font-size: 14px;
                            line-height: 25px;
                        }
                    }  
                }
                .testimonials__img{
                    img{
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        width:280px;
                        height: 265px;
                    }
                }
            }
        }
        .contact-us{
            padding-top: 60px;
            .steps{
                .steps__quetion{
                    height: 39px;
                    width: 251px;
                    color: $MainColor;
                    font-size: 23px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 39px;
                    margin: 105px 0 40px 0;
                }
                .steps__item{
                    margin-bottom: 30px;
                    .steps__title{
                        height: 26px;
                        width: 360px;
                        color: $MainColor;
                        font-size: 14px;
                        font-weight: 700;
                        letter-spacing: 0;
                        line-height: 26px;
                        span{
                            box-sizing: border-box;
                            height: 11px;
                            width: 11px;
                            border: 4px solid #FFFFFF;
                            background-color: #4D4949;
                        }
                    }
                    .steps__text{
                        height: 78px;
                        width: 323px;
                        color: $MainColor;
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 26px;
                    }
                }
            }
            .form-block{
                position: relative;
                bottom: 64px;
                left: 39px;
                width: 760px;
                height: 623px;
                .form-block__header{
                    .form-block__title{
                        height: 42px;
                        width: 615px;
                        color: $MainColor;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 0;
                        line-height: 21px;
                        margin-left: 15px;
                        span{
                            font-weight: 500;
                        }
                    }
                }
                .form-block__body{
                    .form{
                        margin-right: 30px;
                        .form__item{
                            flex-direction: column;
                            margin: 30px 0;
                            input{
                                box-sizing: border-box;
                                height: 45px;
                                width: 320px;
                                border: 1px solid #DCDCDC;
                                border-radius: 5px;
                            }
                            label{
                                height: 28px;
                                width: 79px;
                                color: $MainColor;
                                font-size: 16px;
                                letter-spacing: 0;
                                line-height: 28px;
                            }
                        }
                        .form__submit{
                            .button__submit{
                                height: 45px;
                                width: 144px;
                                border-radius: 5px;
                                background-color: $MainColor;
                                &:hover{
                                    background-color:$hoverColor;
                                }
                                a{
                                    color: $whiteColor;
                                    text-decoration: none;
                                }
                            }
                        }
                        .warning{
                            height: 56px;
                            width: 320px;
                            color: $MainColor;
                            font-size: 17px;
                            letter-spacing: 0;
                            line-height: 28px;
                            font-weight: 400;
                            margin-top: 40px;
                            span{
                                font-weight: 700;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
.social-network{
    position: relative;
    top: 30px;
    .social-network__item{
        margin-right: 25px;
        &:last-child{
            margin-right: 0;
        }
    }
}

/* Footer */

.footer{
    height: 71px;
    .footer-icon{
        height: 28px;
        width: 83px;
        color: $MainColor;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 28px;
    }
    .container{
        min-width: 1440px;
    }
    .rights{
        color: #333333;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 25px;
    }
    .row{
        margin: 0 auto;
    }
    .footer__social-network{
        top: 0;
        right: 40px;
    }
}

@media (max-width: 1200px) {
    .main{
        .section{
            .about-us{
                .about-us__video{
                    height: 516px;
                }
                .about-us__items{
                    .about-us__item{
                        min-height: 152px;
                        min-width: 200px;
                        &:nth-child(2n){
                            &::after{
                                left: 0;
                                top: -122px;
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 5px;
                            }   
                        }
                        &::after{
                            content: "";
                            width: 30px;
                            height: 30px;
                            position: relative;
                            top: -122px;
                            right: -170px;
                            background-color: #ffffff;
                            border-bottom-left-radius: 5px;
                            
                        }
                    }
                }
                
            }
            .posts{
                display: flex;
                flex-direction: column;
                align-items: center;
                .post__item{
                    margin: 0;
                }
            }
            .cards{
                display: flex;
                margin-bottom: 40px;
                flex-direction: column;
                align-items: center;
                .card__item{
                    margin-bottom: 40px;
                    margin-right: 0;
                }
            }
            .card__button{
                margin-left: 410px;
            }
            .testimonials{
                .testimonials__item{
                    width: 560px;
                    left: 220px;
                }
            }
        }

    }
    .sliders{

    }
}

@media (max-width: 992px) {
    .main{
        .section{
            .about-us{
                justify-content: center;
                .about-us__video{
                    height: 185px;
                    margin: 0;
                    background-position: center;
                }
                .about-us__items{
                    .about-us__item{
                        height: 185px;
                        width: 250px;
                        &:nth-child(2n){
                            &::after{
                                left: 0;
                                top: -118px;
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 5px;
                            }   
                        }
                        &::after{
                            content: "";
                            width: 30px;
                            height: 30px;
                            position: relative;
                            top: -118px;
                            right: -170px;
                            background-color: #ffffff;
                            border-bottom-left-radius: 5px;
                            
                        }
                    }
                        p{
                            font-size: 15px;
                        }
                        img{
                            height: 60px;
                        }
                    }
                    
                }
                .testimonials{
                    .testimonials__item{
                        left: 100px;
                    }
                }
                .contact-us{
                    flex-direction: column;
                    align-items: center;
                    .steps{
                        .steps__quetion{
                            margin: 0;
                            margin-bottom: 20px;
                        }
                    }
                    .form-block{
                        .form-block__header{
                            .form-block__title{
                                width: 420px;
                            }
                        }
                    }
                }
            }
            .posts{
                .post__item{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 325px;
                    margin: 0;
                }
            }
            .card__button{
                margin-left: 300px;
            }
            
        }
        .social-network{
            position: unset;
            justify-content: center;
        }
    }

@media (max-width: 768px) {
    .main{
        .section--tesimonials{
            background-size: 2000px;
            height: 850px;
        }
        .section{
            
            .about-us{
                .about-us__video{
                    height: 279px;
                }
                .about-us{
                    justify-content: center;
                    .about-us__video{
                        height: 185px;
                        margin: 0;
                        background-position: center;
                    }
                    .about-us__items{
                        .about-us__item{
                            height: 185px;
                            width: 250px;
                            p{
                                font-size: 15px;
                            }
                            img{
                                height: 60px;
                            }
                        }
                        
                    }
                    
                }
                
            }
            .testimonials{
                .testimonials__item{
                    max-width: 280px;
                    height: 530px;
                    left: 125px;
                   
                }
                .sliders{
                    position: unset;
                    height: 45px;
                    margin-top: 20px;
                    .slider__left{
                        margin-right: 0;
                    }
                    .slider__left__testimonials{
                        top: 0;
                        left: 0;
                    }
                    .slider__right__testimonials{
                        top: 0;
                        left: 0;
                    }
                }
            }
            .card__button{
                margin-left: 200px;
            }
        }
    }
    
}

@media (max-width: 576px) {
    .header{
        .nav{
            flex-direction: column;
            align-items: center;
            .nav-links{
                flex-direction: column;
                align-items: center;
            }
        }
        .nav__icon{
            margin: 0 auto;
        }
        .header__inner{
            margin-top: 0;
            .header__title{
                p{
                    text-align: center;
                    font-size: 22px;
                }
            }
            .header__text{
                p{
                    text-align: center;
                    font-size: 14px;
                }
            }
            .header__buttons{
                justify-content: center;
            }
        }
    }
    .main{
        .section--tesimonials{
            background-size: 2000px;
            height: 850px;
        }
        .section{
            .section__header{
                flex-direction: unset;
                .section__subtitle{
                    width: 200px;
                }
            }
            .about-us{
                justify-content: center;
                .about-us__video{
                    height: 185px;
                    margin: 0;
                    background-position: center;
                }
                .about-us__items{
                    .about-us__item{
                        height: 185px;
                        width: 250px;
                        &:nth-child(2n){
                            &::after{
                                left: 0;
                                top: -135px;
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 5px;
                            }   
                        }
                        &::after{
                            content: "";
                            width: 30px;
                            height: 30px;
                            position: relative;
                            top: -135px;
                            right: -220px;
                            background-color: #ffffff;
                            border-bottom-left-radius: 5px;
                            
                        }
                        p{
                            font-size: 15px;
                        }
                        img{
                            height: 60px;
                        }
                    }
                    
                }
                
            }
            .posts{
                .post__item{
                    .post__image{
                        img{
                            max-width: 325px;
                        }
                    }
                    .post__content{
                        max-width: 325px;
                        .post__title{
                            max-width: 325px;
                            margin-left: 15px;
                            font-size: 16px;
                        }
                        .post__text{
                            max-width: 300px;
                            margin-left: 15px;
                            font-size: 12px;
                        }
                        .post__footer{
                            margin-left: 15px;
                        }
                    }
                }
            }
            .cards{
                .card__item{
                    .card__content{
                        .card__instruments{
                            position: absolute;
                            left: 208px;
                        }
                    }
                }
            }
            .block__button{
                position: relative;
                top: 0;
                right: 90px;
            }
            .sliders{
                .slider__left{
                    margin-right: 0;
                }
                .slider__left__testimonials{
                    bottom: -620px;
                    left: -220px;
                }
                .slider__right__testimonials{
                    bottom: -620px;
                    left: 60px;
                }
            }
            .testimonials{
                .testimonials__item{
                    max-width: 280px;
                    height: 530px;
                    left: 125px;
                   
                }
            }
            .contact-us{
                .steps{
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    margin-right: 400px;
                    margin-bottom: 50px;
                    .steps__item{
                        .steps__text{
                            width: 270px;
                        }
                    }
                }
            }
        }
    }
}